/* src/app/product-listing/_components/mobile/ProductList.mobile.module.css
/* 카드목록 (피그마)
display:flex;
flex-direction:column;
align-items:flex-start;
gap:20px;
align-self:stretch;
*/
.cardList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--Number-20, 20px);
  align-self: stretch;
  width: 100%;
}

.cardItem {
  width: 100%;
}
