/* src/app/product-listing/_compnents/mobile/ProductCard.mobile.module.css */

.rowCard {
  display: flex;
  align-items: center;
  gap: var(--Number-20, 20px);
  padding-bottom: var(--Number-gap-20, 20px);
  width: 100%;
  align-self: stretch;

  border-radius: 0;
  background: transparent;

  border-bottom: 1px solid var(--Color-Role-bg-layer-secondary, #dce4ed);
}

.thumb {
  width: 96px;
  height: 120px;
  aspect-ratio: 4 / 5;
  flex: 0 0 auto;

  border-radius: var(--Number-round-S, 8px);
  overflow: hidden;

  background: var(--Color-Role-bg-layer-primary, #fbfdfd);

  display: grid;
  place-items: center;
  position: relative;
}

.thumbImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}


.content {
  min-width: 0;
  flex: 1 1 auto;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--Number-16, 16px);
}

.nameBlock {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--Number-4, 4px);
}

.titleClamp2 {
  max-height: 54px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.ingredients {
  display: flex;
  align-items: center;
  gap: var(--Number-4, 4px);
  flex-wrap: nowrap;
}

.statusIcon {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 20px;
  height: 20px;
  aspect-ratio: 1/1;
}