@import 'tailwindcss';

/* 디자인 토큰 */
@theme {
  --font-sans:
    'Pretendard', ui-sans-serif, system-ui, -apple-system, 'Segoe UI', Roboto, 'Noto Sans KR',
    'Apple SD Gothic Neo', 'Malgun Gothic', sans-serif;

  /* common */
  --leading-default: 1.5; /* 150% */
  --tracking-tight: -0.02em; /* -2% */

  /* weights */
  --font-w-regular: 400;
  --font-w-medium: 500;
  --font-w-bold: 700;

  /* Display (mobile default) */
  --text-d1: 44px;
  --text-d2: 32px;
  --text-d3: 28px;

  /* Head (pc/mobile 동일) */
  --text-h1: 26px;
  --text-h2: 24px;
  --text-h3: 22px;
  --text-h4: 20px;
  --text-h5: 16px;

  /* Body (pc/mobile 동일) */
  --text-b1: 18px;
  --text-b2: 16px;
  --text-b3: 14px;
  --text-b4: 13px;
  --text-b5: 12px;

  --breakpoint-desktop: 1380px;
  --breakpoint-mobile: 740px;

  /* Gray */
  --gray-0: #fbfdfd;
  --gray-100: #edf2f6;
  --gray-200: #dce4ed;
  --gray-300: #c1cad6;
  --gray-400: #a2acb7;
  --gray-500: #838c97;
  --gray-600: #6e7783;
  --gray-700: #59636e;
  --gray-800: #454f5b;
  --gray-900: #323c48;
  --gray-1000: #242a30;

  /* Blue */
  --blue-100: #f1f7fe;
  --blue-200: #dbe8fb;
  --blue-300: #c8dcf6;
  --blue-400: #a1c7f8;
  --blue-500: #7fb0f3;
  --blue-600: #649af8;
  --blue-700: #217cf9;
  --blue-800: #1960c7;
  --blue-900: #103e80;
  --blue-1000: #072a5a;

  /* Red */
  --red-100: #fdf0f0;
  --red-200: #fbe4e4;
  --red-300: #f7cbc9;
  --red-400: #feb3af;
  --red-500: #fd8984;
  --red-600: #fc6a66;
  --red-700: #f03f37;
  --red-800: #bd1d14;
  --red-900: #8f1709;
  --red-1000: #671002;

  /* Green */
  --green-100: #e9f9f4;
  --green-200: #d7f2e6;
  --green-300: #b4e1cb;
  --green-400: #78dab0;
  --green-500: #45c996;
  --green-600: #13ae80;
  --green-700: #118e71;
  --green-800: #0b7b67;
  --green-900: #0d584a;
  --green-1000: #0e3f34;

  /* Yellow */
  --yellow-100: #fff8e1;
  --yellow-200: #ffeca2;
  --yellow-300: #ffdd5a;
  --yellow-400: #efca42;
  --yellow-500: #e6b927;
  --yellow-600: #cd9e27;
  --yellow-700: #aa821f;
  --yellow-800: #816528;
  --yellow-900: #554019;
  --yellow-1000: #40310f;

  --color-gray-0: var(--gray-0);
  --color-gray-100: var(--gray-100);
  --color-gray-200: var(--gray-200);
  --color-gray-300: var(--gray-300);
  --color-gray-400: var(--gray-400);
  --color-gray-500: var(--gray-500);
  --color-gray-600: var(--gray-600);
  --color-gray-700: var(--gray-700);
  --color-gray-800: var(--gray-800);
  --color-gray-900: var(--gray-900);
  --color-gray-1000: var(--gray-1000);

  --color-blue-100: var(--blue-100);
  --color-blue-200: var(--blue-200);
  --color-blue-300: var(--blue-300);
  --color-blue-400: var(--blue-400);
  --color-blue-500: var(--blue-500);
  --color-blue-600: var(--blue-600);
  --color-blue-700: var(--blue-700);
  --color-blue-800: var(--blue-800);
  --color-blue-900: var(--blue-900);
  --color-blue-1000: var(--blue-1000);

  --color-red-100: var(--red-100);
  --color-red-200: var(--red-200);
  --color-red-300: var(--red-300);
  --color-red-400: var(--red-400);
  --color-red-500: var(--red-500);
  --color-red-600: var(--red-600);
  --color-red-700: var(--red-700);
  --color-red-800: var(--red-800);
  --color-red-900: var(--red-900);
  --color-red-1000: var(--red-1000);

  --color-green-100: var(--green-100);
  --color-green-200: var(--green-200);
  --color-green-300: var(--green-300);
  --color-green-400: var(--green-400);
  --color-green-500: var(--green-500);
  --color-green-600: var(--green-600);
  --color-green-700: var(--green-700);
  --color-green-800: var(--green-800);
  --color-green-900: var(--green-900);
  --color-green-1000: var(--green-1000);

  --color-yellow-100: var(--yellow-100);
  --color-yellow-200: var(--yellow-200);
  --color-yellow-300: var(--yellow-300);
  --color-yellow-400: var(--yellow-400);
  --color-yellow-500: var(--yellow-500);
  --color-yellow-600: var(--yellow-600);
  --color-yellow-700: var(--yellow-700);
  --color-yellow-800: var(--yellow-800);
  --color-yellow-900: var(--yellow-900);
  --color-yellow-1000: var(--yellow-1000);
}

/* 2) PC version 자동 변경 Display만 변경) */
@media (min-width: 1024px) {
  :root {
    --text-d1: 60px;
    --text-d2: 44px;
    --text-d3: 36px;

    
      /* Background – Layer */
      --bg-layer-week: #edf2f6;
      --bg-layer-secondary: #dce4ed;
      --bg-layer-primary: #fbfdfd;
      --bg-layer-overlay: rgba(50, 60, 72, 0.8);
      --bg-layer-accent: #242a30;
      --bg-layer-modal: #fbfdfd;

      /* Foreground – Basic */
      --fg-basic-week: #a2acb7;
      --fg-basic-secondary: #838c97;
      --fg-basic-primary: #59636e;
      --fg-basic-accent: #242a30;

      /* Foreground – Danger */
      --fg-danger-primary-week: #fbe4e4;
      --fg-danger-primary: #fc6a66;
      --fg-danger-primary-accent: #f03f37;

      --fg-danger-second: #ffeca2;
      --fg-danger-second-accent: #554019;

      /* Foreground – Info */
      --fg-info-primary-week: #7fb0f3;
      --fg-info-primary: #217cf9;
      --fg-info-primary-accent: #b4e1cb;

      --fg-info-second: #b4e1cb;
      --fg-info-second-accent: #0d584a;
    }
  }


/* 3) Base */
@layer base {
  html,
  body {
    font-family: var(--font-sans);
  }
}

/* 4) Utilities (타이포 클래스) -> 실제 사용 */
@layer utilities {
  .typo {
    line-height: var(--leading-default);
    letter-spacing: var(--tracking-tight);
  }

  /* Display */
  .typo-d1 {
    font-size: var(--text-d1);
    font-weight: var(--font-w-bold);
    line-height: var(--leading-default);
    letter-spacing: var(--tracking-tight);
  }
  .typo-d2 {
    font-size: var(--text-d2);
    font-weight: var(--font-w-bold);
    line-height: var(--leading-default);
    letter-spacing: var(--tracking-tight);
  }
  .typo-d3 {
    font-size: var(--text-d3);
    font-weight: var(--font-w-bold);
    line-height: var(--leading-default);
    letter-spacing: var(--tracking-tight);
  }

  /* Head */
  .typo-h1 {
    font-size: var(--text-h1);
    font-weight: var(--font-w-bold);
    line-height: var(--leading-default);
    letter-spacing: var(--tracking-tight);
  }
  .typo-h2 {
    font-size: var(--text-h2);
    font-weight: var(--font-w-bold);
    line-height: var(--leading-default);
    letter-spacing: var(--tracking-tight);
  }
  .typo-h3 {
    font-size: var(--text-h3);
    font-weight: var(--font-w-bold);
    line-height: var(--leading-default);
    letter-spacing: var(--tracking-tight);
  }
  .typo-h4 {
    font-size: var(--text-h4);
    font-weight: var(--font-w-medium);
    line-height: var(--leading-default);
    letter-spacing: var(--tracking-tight);
  }
  .typo-h5 {
    font-size: var(--text-h5);
    font-weight: var(--font-w-medium);
    line-height: var(--leading-default);
    letter-spacing: var(--tracking-tight);
  }

  /* Body */
  .typo-b1 {
    font-size: var(--text-b1);
    font-weight: var(--font-w-medium);
    line-height: var(--leading-default);
    letter-spacing: var(--tracking-tight);
  }
  .typo-b2 {
    font-size: var(--text-b2);
    font-weight: var(--font-w-regular);
    line-height: var(--leading-default);
    letter-spacing: var(--tracking-tight);
  }
  .typo-b3 {
    font-size: var(--text-b3);
    font-weight: var(--font-w-regular);
    line-height: var(--leading-default);
    letter-spacing: var(--tracking-tight);
  }
  .typo-b4 {
    font-size: var(--text-b4);
    font-weight: var(--font-w-regular);
    line-height: var(--leading-default);
    letter-spacing: var(--tracking-tight);
  }
  .typo-b5 {
    font-size: var(--text-b5);
    font-weight: var(--font-w-regular);
    line-height: var(--leading-default);
    letter-spacing: var(--tracking-tight);
  }

    /* Background – Layer */
  .bg-layer-week {
    background-color: var(--bg-layer-week);
  }

  .bg-layer-secondary {
    background-color: var(--bg-layer-secondary);
  }

  .bg-layer-primary {
    background-color: var(--bg-layer-primary);
  }

  .bg-layer-overlay {
    background-color: var(--bg-layer-overlay);
  }

  .bg-layer-accent {
    background-color: var(--bg-layer-accent);
  }

  .bg-layer-modal {
    background-color: var(--bg-layer-modal);
  }

  /* Foreground – Basic*/
  .text-fg-basic-week {
    color: var(--fg-basic-week);
  }

  .text-fg-basic-secondary {
    color: var(--fg-basic-secondary);
  }

  .text-fg-basic-primary {
    color: var(--fg-basic-primary);
  }

  .text-fg-basic-accent {
    color: var(--fg-basic-accent);
  }

  /* Foreground – Danger*/
  .text-fg-danger-primary-week {
    color: var(--fg-danger-primary-week);
  }

  .text-fg-danger-primary {
    color: var(--fg-danger-primary);
  }

  .text-fg-danger-primary-accent {
    color: var(--fg-danger-primary-accent);
  }

  .text-fg-danger-second {
    color: var(--fg-danger-second);
  }

  .text-fg-danger-second-accent {
    color: var(--fg-danger-second-accent);
  }

  /* Foreground – Info */
  .text-fg-info-primary-week {
    color: var(--fg-info-primary-week);
  }

  .text-fg-info-primary {
    color: var(--fg-info-primary);
  }

  .text-fg-info-primary-accent {
    color: var(--fg-info-primary-accent);
  }

  .text-fg-info-second {
    color: var(--fg-info-second);
  }

  .text-fg-info-second-accent {
    color: var(--fg-info-second-accent);
  }
}
