/* src/app/product-listing/_components/shared/BasicTargetSummaryCard.module.css */

.card {
  display: flex;
  min-width: 335px;
  max-width: 1260px;
  width: 100%;
  padding: var(--Number-10, 10px);
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: var(--Number-gap-12, 12px);
  align-self: stretch;

  border-radius: var(--Number-round-M, 12px);
  border: 1px solid var(--blue-400, #a1c7f8);
  background: var(--blue-200, #dbe8fb);

  box-sizing: border-box;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  min-height: 24px;

  background: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
  text-align: left;
}

.moreIcon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transform: rotate(0deg);
  transition: transform 160ms ease;
}
.moreIconDesktopHidden {
  display: none;
}
.moreIconOpen {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transform: rotate(180deg);
  transition: transform 160ms ease;
}

.body {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--Number-gap-12, 12px);
}

.helperBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 6px;

  padding: var(--Number-10, 10px);
  border-radius: var(--Number-round-M, 12px);

  background: var(--bg-layer-modal, #fbfdfd);
}

.helperRow {
  display: flex;
  align-items: center;
  gap: 8px;
}
