name: Deploy Frontend

on:
  push:
    branches: [dev]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.2.0
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          command_timeout: 30m
          script: |
            set -e
            cd ~/MediLog-frontend || (cd ~ && git clone https://github.com/MedlyMediLog/MediLog-frontend.git && cd MediLog-frontend)
            git pull origin dev
            npm install
            npm run build
            pm2 restart medilog-front || pm2 start npm --name medilog-front -- start
            pm2 save
